/* Стилізація заголовка */
header {
    background-color: #00b7ff;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    font-size: 2em;
}

/* Стилізація блоку з профілем */
.profile {
    width: 300px;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #33647c;
    padding: 20px;
    border-radius: 10px;
}

/* Стилізація зображення профілю */
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

/* Стилізація імені користувача */
#user-name {
    font-size: 1.8em;
    font-weight: bold;
    color: #8b3a3a;
    margin-bottom: 10px;
}

/* Стилізація інтересів */
.interest {
    font-size: 1.1em;
    color: #00aaff;
    margin: 5px 0;
}

/* Стилізація кнопок */
button {
    background-color: #00aaff;
    color: rgb(170, 61, 61);
    border: none;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

/* Стилізація кнопок при наведенні */
button:hover {
    background-color: #0088cc;
}
